@page
@model Andrey.Pages.Lessongs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lessong</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lessong.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lessong.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lessong.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lessong.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lessong.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lessong.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lessong.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lessong.Created)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Lessong.LessongID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
