@page
@model Andrey.Pages.Sertificates.IndexModel

@{
    ViewData["Title"] = "Сертификаты";
}

<h1>Здесь видно всех студентов, зачисленных на курс</h1>

<p>
    <a asp-page="Create">Зачислить нового студента на курс</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Студент
            </th>
            <th>
                Курс
            </th>
            <th>
                Дата сертификата (если пусто - еще не выдан)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sertificate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SertificateID">Выдать с датой</a> |
                <a asp-page="./Details" asp-route-id="@item.SertificateID">Напечатать сертификат</a> |
                <a asp-page="./Delete" asp-route-id="@item.SertificateID">Отчислить студента с курса</a>
            </td>
        </tr>
}
    </tbody>
</table>
