@page
@model Andrey.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Удаление пользователя";
}

@if (Model.User != null)
{
    <h1>Пользователь будет удален, когда Вы нажмете на кнопку.</h1>

    <h3>Вы уверены, что хотите удалить этого пользователя?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Surname)
            </dt>
            <dd class="col-sm-10">
                Фамилия
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>
            <dd class="col-sm-10">
                Имя
            </dd>
            <dt class="col-sm-2">
                Отчество
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.MidName)
            </dd>
            <dt class="col-sm-2">
                Логин
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Login)
            </dd>
            <dt class="col-sm-2">
                Пароль
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Password)
            </dd>
            <dt class="col-sm-2">
                Права администратора
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.IsAdmin)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="User.UserID" />
            <input type="submit" value="Я уверен, удаляем!" class="btn btn-danger" /> |
            <a asp-page="./Index">К списку пользователей</a>
        </form>
    </div>
}
