@page
@model Andrey.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Информация о пользователе";
}

<h1>Данные пользователя</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Surname)
        </dd>
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            Отчество
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.MidName)
        </dd>
        <dt class="col-sm-2">
            Логин
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Login)
        </dd>
        <dt class="col-sm-2">
            Пароль
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            Права администратора
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.IsAdmin)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserID">Редактировать данные пользователя</a> |
    <a asp-page="./Index">К списку пользователей</a>
</div>
