@page
@model Andrey.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Пользователи";
}

@if (Model.User != null)
{

<h1>Пользователи</h1>

<p>
    <a asp-page="Create">Создать нового пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Логин
            </th>
            <th>
                Пароль
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.User)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.UserID">Редактировать</a>
                        <a asp-page="./Details" asp-route-id="@item.UserID">Посмотреть полную информацию</a>
                        <a asp-page="./Delete" asp-route-id="@item.UserID">Удалить</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
}
