@page
@model Andrey.Pages.Courses.DetailsModel

@{
    ViewData["Title"] = "Материалы курса";
}

<h1>О курсе</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название курса
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            Описание курса
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class="col-sm-2">
            Преподаватель
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">К списку курсов</a>
</div>

<h4>Уроки</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Урок
            </th>
            <th>
                Дата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model.Course.Lessongs != null) {
foreach (var item in Model.Course.Lessongs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-page="/Lessongs/Edit" asp-route-id="@item.LessongID">Редактировать</a> |
                <a asp-page="/Lessongs/Details" asp-route-id="@item.LessongID">Смотреть урок</a> |
                <a asp-page="/Lessongs/Delete" asp-route-id="@item.LessongID">Удалить</a>
            </td>
        </tr>
        }
}
    </tbody>
</table>
