@page
@model Andrey.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Курсы";
}

<h1>Список курсов</h1>

<p>
    <a asp-page="Create">Создать новый курс</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название курса
            </th>
            <th>
                Описание
            </th>
            <th>
                Преподаватель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.User.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseID">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseID">Перейти к материалам</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
