@page
@using Andrey.Models
@model Andrey.Pages.Profile.DetailsModel

@{
    ViewData["Title"] = "Личный кабинет";
}

<h1>Личный кабинет</h1>

<div>
    <hr />
    <dl class="row">
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Имя пользователя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.User.FullName)
        </dd>
        <dt class="col-sm-2">
            Логин
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.User.Login)
        </dd>
        <dt class="col-sm-2">
            Пароль
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.User.Password)
        </dd>
    </dl>
    </div>
    

    <div class="col-sm-10">
    @if (Model.UserData.User.IsAdmin)
    {
        <p class="col-sm-10">
            Ура, Вы админ! Вы можете следующие штуки:
        </p>
        <br>
        <a asp-page="/Maintenance/Index">Управлять контентом страниц сайта</a>
        <br>
        <a asp-page="/Users/Index">Управлять пользователями</a>
        <br>
        <a asp-page="/Teachers/Index">Управлять списком преподавателей</a>
        <br>
        <a asp-page="/Courses/Index">Управлять списком курсов</a>
        <hr>
        <br>
    }
</div>

<div class="col-sm-10">
    @if (Model.UserData.User.Teachers != null){<p class="col-sm-10">Ура, Вы преподаватель! Вы можете следующие штуки:</p><a asp-page="/Students/Index">Управлять списком своих студентов</a><br><a asp-page="/Sertificates/Index">Управлять сертификатами своих курсов</a><br><a asp-page="/Lessongs/Create">Добавить новый урок</a><hr><br>}
</div>
<div class="col-sm-10">
    @if (Model.UserData.User.Students != null)
    {
        <p class="col-sm-10">Ура, Вы студент! Вы можете следующие штуки:</p>
        <a asp-page="/IntroTest">Пройти входное тестирование</a><br>
        <a asp-page="/FinishTest">Пройти выходное тестирование</a><br>
        <p>Распечатать сертификаты по курсам, на которые записаны:</p>

        <table width = "300px">
            <tr>
                <td>
                    <b>Курс</b>
                    <br>
                </td>
               <td>
                   <b>Сертификат</b>
                    <br>
                </td>
            </tr>
            @foreach (Sertificate s in Model.Sertificates)
            {
                <tr>
                    <td>
                        @s.Course.Name
                    </td>
                    <td>
                        @if (s.Created != null) {<a asp-page="/Sertificates/Details" asp-route-id="@s.SertificateID">Печатать сертификат</a>}
                        else {<p>Сертификат пока не присвоен...</p>}
                    </td>
                </tr>
            }
        </table>
        <br />
        <hr />
        <br />
    
    }
</div>
<div>
    <a asp-page="./LogOut">Выйти из аккаунта</a> 
</div>
